:host {
  display: inline-block;
  color: black;
  width: 300px;
  height: 300px;
  font-family: sans-serif;
  font-size: 12px;
  padding: 3px;

}

.data {
	max-height: 50px;
	overflow: hidden;
}

.label {
  color: #2fa3af;
}

.count {
	width: 2.5em !important;
}


.lens-container input[is=core-input] {
	border: 1px solid #eee;
  width: 95%;
}